<!DOCTYPE html>

<html lang="en"><head class="at-element-marker"></head>
    <head>
        <title>Personal Details | HSBC Application Online</title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        {{{ body }}}
    </body>


</html>