<div class="header--wrapper">
    <div class="header">
    <div class="header--content">
        <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12"><a href="https://www.hsbc.com.my/" aria-label="HSBC Logo" class="header--logo"></a></div>
        </div>
        </div>
    </div>
    </div>
    <div class="progress">
        <div class="progress--content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="progress--bar-items">
                            <li data-navigation="" class="text--700 prev--step">
                            <div class="clearfix hide--md"><span class="progress--bar-left"><span class="offscreen">Completed Step: </span>1.</span><span class="progress--bar-right">Select card</span>
                            </div><span class="show--md"><span class="offscreen">Step</span> 1 / 6 Select card</span>
                            </li>
                            <li data-navigation="current" class="text--700 prev--step">
                            <div class="clearfix hide--md"><span class="progress--bar-left"><span class="offscreen">Current Step: </span>2.</span><span class="progress--bar-right">Personal details</span>
                            </div><span class="show--md"><span class="offscreen">Step</span> 2 / 6 Personal details</span>
                            </li>
                            <li data-navigation="" class="text--700">
                            <div class="clearfix hide--md"><span class="progress--bar-left">3.</span><span class="progress--bar-right">Employment details</span>
                            </div><span class="show--md"><span class="offscreen">Step</span> 3 / 6 Employment details</span>
                            </li>
                            <li data-navigation="" class="text--700">
                            <div class="clearfix hide--md"><span class="progress--bar-left">4.</span><span class="progress--bar-right">Further details</span>
                            </div><span class="show--md"><span class="offscreen">Step</span> 4 / 6 Further details</span>
                            </li>
                            <li data-navigation="" class="text--700">
                            <div class="clearfix hide--md"><span class="progress--bar-left">5.</span><span class="progress--bar-right">Application review</span>
                            </div><span class="show--md"><span class="offscreen">Step</span> 5 / 6 Application review</span>
                            </li>
                            <li data-navigation="" class="text--700">
                            <div class="clearfix hide--md"><span class="progress--bar-left"><span class="offscreen">Current Step: </span>6.</span><span class="progress--bar-right">Upload documents</span>
                            </div><span class="show--md"><span class="offscreen">Step</span> 6 / 6 Upload documents</span>
                            </li>
                        </ul>
                        <div class="progress--bar">
                            <div data-current-page="0" data-total-page="7" class="progress--bar-latest" style="width: 0%;"></div>
                            <div data-current-page="2" data-total-page="7" class="progress--bar-current" style="width: 28.5714%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="OPTtest">
    <div class="card_heading">
        <div class="view-container clearfix hidden-xs hidden-sm"> 
            <div class="first-card"> <img src="images/visa-signature.png"> 
                <div class="card-desc"> 
                    <h3 class="card-name ng-binding">HSBC Visa Signature Credit Card</h3> 
                    <ul class="card-features">
                        <li ng-repeat="offer in"> 
                            <h4 class="ng-binding">Up to 8X Reward Points on overseas spend  |  Min. income of RM72,000 p.a.  </h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main">
<div class="precontent">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="precontent--heading">Thank You for Applying</div>
                <div class="precontent--description">If you have a minute, would you like to complete your application below? <br class="hide-md">This helps to speed up your application or, we can send your application to your email to continue later</div>
            </div>
        </div>
    </div>
</div>
